{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Page
{% endblock %}

{% block body_block %}
        {% if category %}
            <div class="jumbotron">
                <h1>Add a Page to {{category.name}}</h1>
            </div>

            <form role="form" id="page_form" method="post"
                  action="/rango/category/{{ category.slug }}/add_page/">
                <h2 class="form-signin-heading">Add a Page to
                    <a href="/rango/category/{{category.slug}}/">{{ category.name }}</a>
                </h2>
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                    <br>
                {% endfor %}

                <button class="btn btn-primary" type="submit" name="submit">
                    Add Page
                </button>
            </form>

        {% else %}
            The specified category does not exist!
        {% endif%}
{% endblock %}